@import "variable";

// Fall back for theme editor
html :where(.editor-styles-wrapper) {
	display: block;
}

.components-base-control__label[for*="vsfs-"] {
	font-weight: 700;
	margin-bottom:10px;
}

.edit-post-sidebar {
	.components-base-control__description {
			font-size:12px;
	}
	.components-base-control__checkbox-list {
		.components-checkbox-control{
			margin-bottom: 0;
		}
	}
	.mb-description {
		margin-bottom: 1em;
	}
}


// 一部CSSがコアの指定に負けてしまうため .wp-core-ui の中に変更
.wp-core-ui,
.editor-styles-wrapper {
	.vkfs input[type="text"],
	.vkfs select {
		width: 100%;
		max-width: 100%;
		margin: 0;
		padding: 0.3em 1em;
	}

	.vkfs {

		&__input-wrap {

			label {
				//これがないとラベル内が崩れる
				display: block;
				margin-bottom: 0; // .editor-styles-wrapper label { .5rem 打ち消し
			}
			//ulタグの横に余白ができるので追加
			padding-left: 0;
			margin: 0;
		}

		&__labels {
			// これがないと中のカラムが横幅いっぱいにならない
			& > .block-editor-inner-blocks {
				width: 100%;
			}

			.block-editor-block-list__layout {
				display: flex;
				flex-wrap: wrap;
				justify-content: stretch;

				.vkfs__outer-wrap {
					margin: 0.5rem 0;
				}

				.wp-block-vk-filter-search-taxonomy-search,
				.wp-block-vk-filter-search-keyword-search,
				.wp-block-vk-filter-search-post-type-search {
					flex-basis: calc(50% - 0.8rem);
					margin: 0;
					margin-right: var(--vkfs-outer-margin-left-right);
					margin-left: var(--vkfs-outer-margin-left-right);
				}

				& > div {
					margin: 0 var(--vkfs-outer-margin-left-right);
				}
			}
			//インサーターのデザイン
			.block-list-appender {

				& > .block-editor-inserter {
					height: 80px;
				}
			}
		}

		&__pro {
			.components-button {
				&:after {
					content: "Pro";
					display: inline-block;
					margin-left: 8px;
					padding: 2px 6px;
					border-radius: 4px;
					background-color: #d8141c;
					color: #FFF;
				}			
			}

			ul {
				list-style: disc;
				margin-left: 1em;
			}

			a.button {
				display: block;
				text-align: center;

				span {
					display:inline-flex;
					align-items: center;	

					&:before {
						content: '';
						display: inline-block;
						width: 14px;
						height: 14px;
						margin-right: 8px;
						background: url('data:image/svg+xml,<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.79147 24.0547L7.86022 22.1235C7.32897 21.5922 7.14147 20.8235 7.37897 20.111C7.56647 19.5547 7.81647 18.8297 8.11647 17.9985H1.50397C0.966467 17.9985 0.466467 17.711 0.197717 17.2422C-0.0710331 16.7735 -0.0647831 16.1985 0.210217 15.736L3.49147 10.2047C4.30397 8.83597 5.77272 7.99847 7.36022 7.99847H12.504C12.654 7.74847 12.804 7.51722 12.954 7.29222C18.0727 -0.257777 25.6977 -0.507777 30.2477 0.329723C30.9727 0.460973 31.5352 1.02972 31.6727 1.75472C32.5102 6.31097 32.254 13.9297 24.7102 19.0485C24.4915 19.1985 24.254 19.3485 24.004 19.4985V24.6422C24.004 26.2297 23.1665 27.7047 21.7977 28.511L16.2665 31.7922C15.804 32.0672 15.229 32.0735 14.7602 31.8047C14.2915 31.536 14.004 31.0422 14.004 30.4985V23.7985C13.1227 24.1047 12.354 24.3547 11.7727 24.5422C11.0727 24.7672 10.3102 24.5735 9.78522 24.0547H9.79147ZM24.004 10.4985C24.667 10.4985 25.3029 10.2351 25.7717 9.76624C26.2406 9.2974 26.504 8.66151 26.504 7.99847C26.504 7.33543 26.2406 6.69955 25.7717 6.23071C25.3029 5.76187 24.667 5.49847 24.004 5.49847C23.3409 5.49847 22.705 5.76187 22.2362 6.23071C21.7674 6.69955 21.504 7.33543 21.504 7.99847C21.504 8.66151 21.7674 9.2974 22.2362 9.76624C22.705 10.2351 23.3409 10.4985 24.004 10.4985Z" fill="white"/></svg>') 0 0 / contain no-repeat;
					}
				}
			}
		}

		.vkfs__label-name-wrap {
			margin-right:10px;
			li {
				margin-top:0;
				line-height: 2;
			}
		}

	}
	//無料版のインサーターのデザイン
	//無料版はインサーターの幅が固定
	.vk-filter-search {

		.block-list-appender {

			@include editor-inserter-design;
			flex-basis: calc(50% - 0.8rem);
		}

		.block-editor-button-block-appender {

			@include editor-button-block-appender;
		}
	}
}

/******************************
 * Alert
 */

.vkfs__alert {

	.editor-styles-wrapper & {
		padding: 1.5em;
	}

	.components-panel__body & {
		padding: 1em;
	}
	border-radius: 3px;

	&--danger {
		background-color: #f2dede;
		color: #a94442;
		border: 1px solid #ebccd1;
	}

	&--warning {
		background-color: #fcf8e3;
		color: #8a6d3b;
		border: 1px solid #faebcc;
	}
}

.vkfs__alert-title {
	text-align: center;
	font-size: 21px;
}

// only editor
