// pro版アイコン
.editor-block-list-item-vk-filter-search-pro-filter-search-pro:after,
.editor-block-list-item-vk-filter-search-pro-keyword-search-pro:after,
.editor-block-list-item-vk-filter-search-pro-post-type-search-pro:after,
.editor-block-list-item-vk-filter-search-pro-taxonomy-search-pro:after{
	position: absolute;
	top: 0;
	right: 0;
	content: "Pro";
	display: inline-block;
	font-size: 10px;
	line-height: 1;
	color: #fff;
	background-color: #cd3034;
	border-radius: 2px;
	padding: 3px 4px;
}

// 一部CSSがコアの指定に負けてしまうため .wp-core-ui の中に変更
.wp-core-ui {

	& .vkfs select {
		width: 100%;
		max-width: 100%;
		margin: 0;
		padding: 0.3em 1em;
	}

	.vkfs {
		&__input-wrap{
			label{ //これがないとラベル内が崩れる
				display: block;
				margin-bottom:0; // .editor-styles-wrapper label { .5rem 打ち消し
			}
			//ulタグの横に余白ができるので追加
			padding-left: 0;
			margin: 0;
		}
		&__labels {
			// これがないと中のカラムが横幅いっぱいにならない
			& > .block-editor-inner-blocks {
				width:100%;
			}
			.block-editor-block-list__layout {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.vkfs__outer-wrap{
					margin: .5rem 0;
				}

				& > div {
					flex-basis: calc(50% - 0.8em);
					 margin: 0;
				}

			}
		}
	}
}

// only editor
