// 一部CSSがコアの指定に負けてしまうため .wp-core-ui の中に変更
.wp-core-ui {
	& .vkfs select {
		width:100%;
		max-width:100%;
		margin:0;
	}
	.vkfs {
		&__labels {
			display: block;
			.block-editor-block-list__layout {
				display: flex;
				flex-wrap: wrap;
				gap: 1em 1.6em;
				& > div {
					flex-basis: calc(50% - 0.8em);
					margin: 0;
					&__keyword,
					&__post-type,
					&__taxonomy {
						flex-basis: calc(50% - 0.8em);
						margin-bottom: 0;
						& label{
							width:100%;
						}
					}
				}
			}
		}
	}
}

// only editor
