// editor and front styles
@import "variable";

.vkfs {
	font-size: 0.88rem;
	margin-bottom: var(--vk-margin-section-bottom, 2em);

	&__labels {
		display: flex;
		flex-wrap: wrap;
		justify-content: stretch;

		.wp-block-vk-filter-search-filter-search & {//無料版のみ固定幅のため追加
				@media (max-width: $sm-max){
					display: block;
				}
		}

	}

	&__outer-wrap {
		flex-basis: calc(50% - 0.8rem);
		margin-bottom:calc( var(--vk-size-text) * 1 );
		margin-right: var(--vkfs-outer-margin-left-right);
		margin-left: var(--vkfs-outer-margin-left-right);
	}
	&__label-name {
		font-weight: 700;
		margin-bottom:calc( var(--vk-size-text) * 0.5 ); 
	}
	&__input-wrap {
		margin: 0;
		margin-top: 0;
		margin-bottom: 0;
		&:after { 
			clear:both
		}


		label {
			margin-bottom: 0;
			display: block;
		}

	}


	// Bootstrap .form-control と基本同じだが、
	// 記事編集画面やLightning以外のテーマでは .form-control が当然自動ではつかないので追加指定
	input[type="text"],
	select {
		display: block;
		width: 100%;
		max-width: 100%;
		height: calc(1.5em + 0.75rem + 2px);
		padding: 0.375rem 0.75rem;
		font-size: 1em;
		font-weight: 400;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
	}

	  
	select {
		// デフォルトの下向き矢印は位置がコントロールできないので一旦削除
		-webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
		-moz-appearance: none; /* ベンダープレフィックス(Firefox用) */
		appearance: none; /* 標準のスタイルを無効にする */

		// 管理画面コアで使われている下向き矢印
		background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
		background-size: 16px 16px;
	}

	button[type="submit"] {
		padding: 0.5em 1em;
		margin-top: 0.5em;
		width: 100%;
		letter-spacing: 0.5em;
		font-size: 14px;
	}
}
